
$background-color: #161727;
$background-second-color: #282c34;
$background-second-color-light: #4f5768;
$border-color: #3e4053;
$border-color-dark: #111216;
$active-color: #282c34;

$primary-color: rgb(206, 100, 255);
$primary-color-dark: rgb(189, 73, 243);

$tab-mormal-color: $background-color;
$tab-active-color: $active-color;
$tab-border-color: $border-color-dark;
$tab-button-normal-color: #cccccc;
$tab-button-hover-color:  #7e7e7e;

$block-active-color: rgb(231, 157, 0);



$side-bar-color: rgb(184, 184, 184);
$side-bar-active-color: rgb(255, 255, 255);
$side-bar-background-color: rgb(24, 24, 24);
$side-panel-background-color: rgb(78, 78, 78);
